<div id="status"></div>
<div id='count'></div>
<script>
        let socket = io.connect(`http://webvue.org/admin`)

        setInterval(function(){
            socket.emit('online');
        },1000)


        socket.on('connect', function(){
            let element = document.getElementById('status')
            element.innerHTML = ' Connected    - ';
        });

        socket.on('response', function(doc){
            let element = document.getElementById('count')
            element.innerHTML = `Online Users : ${doc.Client_Count}`;
        });


        socket.on('disconnect', function(){

            let element = document.getElementById('status')
            element.innerHTML = ' Disonnected';
        });
</script>