<div id="status"></div>
<div id='count'></div>
<button onclick="Online()">Get Online Users</button>
<script>
        let socket = io.connect(`http://webvue.org/admin`)

        function Online(){

            socket.emit('online')
        }

        socket.on('connect', function(){
            let element = document.getElementById('status')
            element.innerHTML += ' Connected    - ';
        });

        socket.on('response', function(doc){
            let element = document.getElementById('count')
            element.innerHTML = doc.Client_Count;
        });


        socket.on('disconnect', function(){

            let element = document.getElementById('status')
            element.innerHTML += ' Disonnected';
        });
</script>