<div id="status"></div>
<script>
        let socket = io.connect(`http://localhost:8009/admin`)

        socket.on('connect', function(){
            let element = document.getElementById('status')
            element.innerHTML += ' Connected    - ';
        });


        socket.on('disconnect', function(){

            let element = document.getElementById('status')
            element.innerHTML += ' Disonnected';
        });
</script>